.addcircle{
font-size: 48px;

cursor: pointer;     

}
.addcircle:hover{
    color: white;
}
.card-dispensary{
cursor:pointer;
}
.card-dispensary:hover{
    background-color:  #1976D2;
    color: white;
}
.main-dispensary-link{
    text-decoration: none;
}
.minicard{
    cursor: pointer;
}
.card-reports{
    cursor:pointer;
    height:60% ;
}
.card-reports:hover{
    background-color:  #1976D2;
    color: white;
}
.ReportsCard:hover{
  background-color:  #1976D2;
  color: white;
}
